

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}


[class*="col-"] {
    float: right;
    padding: 10px;
    margin: -10px;
    border: 0px solid red;
   

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}


.col-11 {
	width: 100%;}








/* page 1 */

p {
	min-width: 600px;
}

p.page1textp {
	display:block;
	text-align: center;
	font-family:'Open Sans';
	position: relative;
	font-size:28pt;
	color:white;
	letter-spacing: .2em;
	margin-top: 20%;
	margin-left:17%;
	margin-right:17%;
	line-height: 1.5em;

}

span {
	color:black;
	font-weight: 800;
}


.container-1 {
	width:60%;
	height:auto;
	margin-right: auto;
	margin-left:auto;
	position:relative;
	top:50%;
	bottom:50%;

}



.col-12 {
	width: 100%;
	height: 100vh;
	position:relative;
	display: block;
	z-index: -1;
	background: blue;


}


div#page1 div.col-12 img.page1text {
	height: auto;
	width:65%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 35%;
	bottom:65%;
}

div#page1 div.col-12 img.email-wrap {
	height: auto;
	width: 350px;
	margin-left: auto;
	margin-right:auto;
	display:block;
	position: relative;
	top:0px;
	


}

@font-face {
	font-family:"Neutraface";
	src: url("assets/fonts/Neutra2Text-Demi.otf");
}


input#email {
	margin-right: auto;
	margin-left:auto;
	display: block;
	position: relative;
	top: 50px;
	
	left:-10px;
	text-align: center;


	border: none;
	outline: none;
	background: transparent;
	z-index: 1;
	font-size: 16px;
	font-family:"Neutraface",sans-serif;

	}




div.header {
	height:40px;
	width: 100%;
	position: fixed;
	margin: 0px auto;
	display: block;
	background: transparent;

}

div.sidebar {

	height: 100%;
	width: 30px;
	float: right;
	display:block;
	position:fixed;
	background: transparent;
	margin: 20px;
}




img.sidebar-cont {

	width: 40px;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
	position: relative;
	top: -120px;
	left:-27px;
	z-index: 7;

}

img.header-cont {
	height: 33px;
	display: block;
	z-index: ;
	margin-right: auto;
	margin-left: auto;
	position: relative;

	top: 40px;
	left: -9px;
}
















/*placeholder color */

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}






/* page 2 */

p.page2textp {

	display:block;
	text-align: center;
	font-family: helvetica;
	position: relative;
	font-size:28pt;
	color:white;
	letter-spacing: .2em;
	margin-top: 20%;
	margin-left:17%;
	margin-right:17%;
	line-height: 1.5em;
	font-weight: 200;

}

span.underline {
	color:white;
	text-decoration: underline;
	font-weight: 200;
}


.col-11 {
	width: 100%;
	height: 100vh;
	background: red;

}

img.page2text {
	width:60%;
	height:auto;
	margin-right: auto;
	margin-left:auto;
	display: block;
	position: relative;
	top:30%;
	bottom:70%;

}





/* PAGE 3*/ 



p.page3textp {

	display:block;
	text-align: center;
	font-family: helvetica;
	position: relative;
	font-size:28pt;
	color:white;
	letter-spacing: .2em;
	margin-top: 20%;
	margin-left:17%;
	margin-right:17%;
	line-height: 1.5em;
	font-weight: 400;

}


.col-10 {
	width: 100%;
	height:100vh;
	background:rgba(0,0,0,.15);
}


img.page3text {
	width:60%;
	height:auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
	position: relative;
	top:40%;
	bottom:60%;

}






/* FOOTER */



div.footer {
	height: 40px;
	width: 100%;
	position: fixed;
	margin: 0px auto;
	display: block;
	background: transparent;
	bottom: 10%;
	z-index: 999999;
}

img.footer-cont {
	height: 40px;
	width: auto;
	display: block;
	z-index: 999999;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	left: -9px;


}
